* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: #202024;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}
.skpBtn {
  width: 15%;
  height: 35px;
  position: relative;
  background: none;
  padding-top: 20px;
  color: gray;
  float: right;
}
.sbmBtn {
  margin-top: 20px;
}
table {
  border: 5px;
  padding: 20px;
  border-spacing: 10px;
}
.ths {
  padding: 10px;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  cursor: default;
  color: #fff;
}
.foc {
  border-bottom: 2px solid #aadb16;
  background-color: #fff;
  color: #202024;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 20ms;
}
.err {
  display: none;
  color: red;
  size: 0.5pt;
}
.btd {
  text-align: center;
  padding-top: 15px;
}
label {
  font-size: 1em;
  color: #fff;
  text-align: center;
}
